* {
    background-color: orange;
}

.gridRows{
    height: 60px;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.cell{
    border: none;
    flex: 1;
    background-color: orange;
}

.trail {
    background-color: green;
}

#container {

    align-content: center;
    padding: 10px green;
    border: 5px green solid;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;

}



h1 {
    color: green;
    font-family: Arial, cursive;
    text-align: center;

}